.home-box {
  background-color: #f1f2f4;
}

.home-box main, .home-box .landing{
  box-sizing: border-box;
  padding: 10px 25px;
  font-family: "Montserrat", sans-serif;
}

.home-box .landing {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 55vh;
}

.landing > div {
  width: 48%;
}

.landing .text {
  display: inline-flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.text h1 {
  font-size: 3em;
  font-weight: 500;
}

.text > p {
  font-size: 14px;
  text-transform: capitalize;
}

 .btn {
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #b9fa05;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  cursor: pointer;
  transition: 400ms;
}

 .btn:hover {
  background-color: #a56dfd;
  color: #000;
}

.text .btn ion-icon {
  margin-left: 10px;
  font-size: 20px;
}

.text .sponsors {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sponsors li {
  margin: 0 10px;
  display: inline-flex;
}

.sponsors-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: none;
}

.sponsors-container .sponsors {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  animation: scroll 15s linear infinite;
  /* Make sure to use a longer duration for smoother scrolling */
}

.mob-sponsors li {
  margin: 0 10px;
  display: inline-flex;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sponsors img {
  width: 80px;
  height: auto;
}

.landing .bg {
  background-image: url(../assets/card.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  margin: 35px 0 0 0;
  padding: 10px 0;
  height: auto;
}

.banking-services {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 20px;
}

.banking-services .services-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.services-info div {
  width: 50%;
}

.services-info h1 {
  width: 90%;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2.8em;
}

.services-info p {
  font-size: 15px;
  width: 90%;
  text-transform: capitalize;
}

.services-info div:nth-last-child(1) {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}

.services-info .btn {
  background-color: #000;
  color: #fff;
  width: 30%;
  &:hover {
    background-color: #a56dfd;
    border: 2px solid #000;
    color: #000;
  }
}

.banking-services .services-illst {
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-illst section {
  width: 23%;
  height: 250px;
  padding: 40px 0;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 400ms;
  cursor: pointer;
  &:hover, &.active {
    background-color: #e6e6ff;
  }
}

.services-illst section h1 {
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  text-transform: capitalize;
}

.services-illst img {
  width: 135px;
  height: auto;
  margin: 0 auto;
  display: block;
  &#upsize {
    width: 160px;
  }
}

.fast-banking {
  margin: 10px 0 0 0;
  padding: 20px 10px;
  box-sizing: border-box;
}

.fast-banking header {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  margin: 20px 0;
  justify-content: space-between;
  align-items: end;
}

.fast-banking header h1 {
  font-weight: 500;
  font-size: 2.5em;
  text-transform: capitalize;
  line-height: normal;
  width: 50%;
}

.nav-btn button {
  margin: 0 0 5px 10px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border: none;
  font-size: 20px;
  padding: 7px 18px;
  border-radius: 20px;
  transition: 400ms;
  &.active, &:hover {
    background-color: #b9fa05;
    padding: 7px 25px;
    border: 2px solid #000;
  }
}

.fast-banking .services-box {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px 0;
  scrollbar-width: none;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.services-box section {
  background-color: #fff;
  min-width: 38%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 30px 0 0;
  transition: 300ms;
  cursor: pointer;
  &:hover, &.active {
    background-color: #e6e6ff;
  }
}

.services-box h1 {
  font-weight: 500;
  font-size: 1.4em;
  text-transform: capitalize;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.services-box p {
  width: 80%;
  text-align: center;
  font-size: 14px;
  color: #5d5d5d;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin: 30px 0 60px 0;
}

.services-box img {
  width: 140px;
  &#upscale {
    width: 70%;
  }
}

.features {
  height: 70vh;
  display: inline-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px 50px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.features section {
  width: 40%;
  box-sizing: border-box;
}

.features .one, .features .three {
  float: left;
  width: 55%;
}

.features h1 {
  text-transform: capitalize;
  font-weight: 500;
  width: 80%;
  font-size: 2.5em;
}

.features h1 span {
  color: #a56dfd;
  align-items: center;
  display: inline-flex;
}

.features h1 button {
  background-color: transparent;
  border: 2px solid #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 30px;
  margin-bottom: 9px;
  vertical-align: text-bottom;
  border-radius: 20px;
}

.features p {
  font-size: 15px;
  text-transform: capitalize;
  width: 90%;
  margin: 20px 0;
  color: #5d5d5d;
}

.features ul {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
}

.features ul li {
  margin: 10px 0;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 0;
}

.features ul li span {
  background-color: #b9fa05;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 100%;
  font-size: 13px;
}

.two {
  height: 100%;
  float: right;
  background-image: url(../assets/footer-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

footer div {
  background-color: #000;
  color: #fff;
  height: inherit;
  width: 50%;
  padding: 60px 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.footer-one {
  border-top-right-radius: 40px;
  display: inline-flex;
}

.footer-one section {
  width: 40%;
  height: fit-content;
  &:nth-last-child(1) {
    margin-left: 20px;
  }
}

.footer-one h1 {
  background-color: #fff;
  width: fit-content;
}

.footer-one img {
  width: 150px;
  display: block;
}

.footer-one p {
  font-size: 13px;
  margin-top: 30px;
  text-transform: capitalize;
  color: #5d5d5d;
}

.footer-one h2 {
  font-size: 15px;
  font-weight: 600;
}

.footer-one ul {
  display: inline-flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 170px;
}

.footer-one ul li {
  margin: 10px 0;
  font-size: 13px;
  text-transform: capitalize;
  transition: 300ms;
  font-weight: 400;
  &:hover {
    color: #a56dfd;
  }
}

.footer-two {
  border-top-left-radius: 40px;
  text-align: center;
}

.footer-two p {
  text-transform: capitalize;
  width: 70%;
  font-weight: 500;
  font-size: 15px;
  margin: 0 auto;
}

.footer-two form {
  margin: 30px 0;
  height: 50px;
}

.footer-two input {
  width: 50%;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px 0 0 40px;
  height: 100%;
  padding: 0 20px;
}

.footer-two button {
  border: none;
  background-color: #b9fa05;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0 40px 40px 0;
  align-items: center;
  transition: 400ms;
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px;
  &:hover {
    background-color: #a56dfd;
  }
}

.footer-two button span {
  margin-left: 20px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}

.footer-two .contact {
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
}

.contact ul {
  display: inline-flex;
}

.contact h3 {
  font-size: 14px;
  color: #5d5d5d;
  text-transform: capitalize;
}

.contact ul li {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  margin: 0 20px 0 0;
}

@media (max-width: 850px) {
  .home-box .landing {
    height: 60vh;
  }
  .text h1 {
    font-size: 2.5em;
  }
  .text .btn {
    width: 70%;
  }
  .services-info div{
    width: 100%;
    margin: 10px 0;
  }
  .services-info .btn {
    margin-top: 30px;
  }
  .services-illst section {
    width: 49%;
    margin: 5px 0;
  }
  .fast-banking header {
    display: block;
  }
  .fast-banking header h1 {
    width: 100%;
    font-size: 1.9em;
  }
  .nav-btn {
    width: 100%;
    text-align: right;
  }
  .nav-btn button {
    margin: 10px 0 10px 10px ;
  }
  .services-box section {
    min-width: 50%;
  }
  .features {
    height: auto;
    padding: 30px;
  }
  .features h1 {
    width: 100%;
  }
  .features p {
    width: 100%;
  }
  .features section {
    width: 100%;
  }
  .features .one, .features .three {
    width: 100%;
    float: none;
  }
  .two {
    height: 400px;
    float: none;
    margin: 10px 0;
  }
  .features h1 button {
    vertical-align: middle;
    margin: 0;
  }
  .footer-one section{
    width: 100%;
  }
  .footer-two p {
    width: 100%;
  }
  .footer-two .contact {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .home-box .landing {
    flex-direction: column;
    height: auto;
  }
  .services-illst section {
    width: 100%;
  }

  .landing div {
    width: 100%;
    padding: 10px 0;
  }

  .text > p {
    margin: 30px 0;
  }

  .landing .bg {
    height: 50vh;
  }
  .text .sponsors {
    margin: 40px 0;
    display: none;
  }
  .text .btn {
    width: 50%;
    box-sizing: border-box;
  }
  .text .sponsors {
    display: none;
  }
  .sponsors-container {
    display: inline-flex;
    margin: 20px 0;
    box-sizing: border-box;
  }
  .services-info .btn {
    width: 50%;
  }
  .services-box section {
    min-width: 80%;
  }
  footer {
    flex-direction: column;
  }
  footer div {
    width: 100%;
  }
  .footer-one, .footer-two {
    border-radius: 0;
    border: none;
  }
  .footer-two form {
    height: auto;
  }
  .footer-two input {
    width: fit-content;
    padding: 20px;
  }
  .footer-two button {
    padding: 19px;
    height: auto;
  }
}


@media (max-width: 450px) {
  .services-box section {
    min-width: 95%;
    padding: 30px 10px;
    margin: 0 15px 0 0;
  }
  .services-box h1 {
    width: 100%;
  }
  .services-box p {
    box-sizing: border-box;
    width: 100%;
  }
  .services-box img{
    &#upscale {
      width: 100%;
    }
  }
  .two {
    height: 250px;
  }
  .features ul {
    display: block;
    height: auto;
  }
  footer div {
    padding: 30px 15px;
  }
  .footer-one {
    display: block;
  }
  .footer-one section {
    width: 100%;
    &:nth-last-child(1) {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .footer-one ul {
    height: 100px;
  }
  .footer-two input, .footer-two button{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}